In [1]:
import processing

In [2]:
stateTotals = processing.statesTotals()
stateTotalsThird = processing.statesTotals(showThirdParty=True)

In [3]:
stateTotals.head()

                  state     candidate party  total_votes
0              Delaware     Joe Biden   DEM       296268
1              Delaware  Donald Trump   REP       200603
2              Delaware         Other   N/A         7139
3  District of Columbia     Joe Biden   DEM       317323
4  District of Columbia  Donald Trump   REP        18586

In [4]:
stateTotalsThird.head()

                  state      candidate party  total_votes
0              Delaware      Joe Biden   DEM       296268
1              Delaware   Donald Trump   REP       200603
2              Delaware   Jo Jorgensen   LIB         5000
3              Delaware  Howie Hawkins   GRN         2139
4  District of Columbia      Joe Biden   DEM       317323

In [5]:
processing.readPreElectionPolls().head()

,State,Male,Female,White,Black,Hispanic/Latino,Asian,White + BA/BS,White + No BA/BS,Republican,Democrat,Independent,65+,Candidate,Pollster
0,AL,0.280,0.400,0.230,0.840,0.370,0.460,0.355,0.170,0.030,0.950,0.450,0.300,Biden,SurveyMonkey
1,AL,0.670,0.540,0.730,0.070,0.510,0.470,0.605,0.785,0.940,0.020,0.270,0.660,Trump,SurveyMonkey
2,AZ,0.507,0.453,0.451,0.636,0.127,0.545,NaN,NaN,0.061,0.868,0.567,0.488,Biden,Emerson
3,AZ,0.450,0.520,0.490,NaN,0.490,NaN,0.550,0.430,0.070,0.940,0.570,0.460,Biden,Marist
4,AZ,0.480,0.400,0.510,NaN,NaN,NaN,0.480,0.540,0.900,0.050,0.330,0.420,Biden,Monmouth

In [6]:
processing.readPostElectionPolls().head()

,State,Male,Female,White,Black,Hispanic/Latino,Asian,White + BA/BS,White + No BA/BS,Republican,Democrat,Independent,65+,Candidate,Pollster
0,AL,0.35,0.39,0.21,0.89,NaN,NaN,0.32,0.14,0.02,0.95,0.49,0.23,Biden,Edison
1,AL,0.63,0.61,0.77,0.11,NaN,NaN,0.65,0.85,0.97,0.05,0.44,0.77,Trump,Edison
2,AZ,0.48,0.51,0.46,NaN,0.61,NaN,0.53,0.41,0.09,0.96,0.53,0.49,Biden,Edison
3,AZ,0.50,0.48,0.52,NaN,0.37,NaN,0.46,0.57,0.90,0.03,0.44,0.50,Trump,Edison
4,CA,0.63,0.63,0.51,0.82,0.75,0.76,0.62,0.39,0.10,0.97,0.57,0.61,Biden,Edison